@import "global";

@media (max-width: 575px) {
  #main-container {
    margin-left: 0;
  }

  #overlay {
    display: inherit;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    transition: opacity 300ms;

    &.open {
      opacity: 0.1;
      pointer-events: inherit;
    }

    &.closed {
      opacity: 0;
      pointer-events: none;
    }
  }

  #app-header {
    grid-template-columns: auto 1fr auto;
    grid-gap: 15px;
    padding: 10px 0px 10px 20px;

    #user-info {
      display: none;
    }

    #toggle-btn {
      display: inherit;
    }
  }

  #sidebar {
    transition: transform 300ms;

    &.closed { transform: translateX(-1 * $sidebar-size); }
    &.open { transform: translateX(0); }
  }

  .container {
    padding: 0 25px;
  }

  .poster-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 20px;
  }
}
