.searchbar {
  background: white;
  padding: 7px 15px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  border: 1px solid #D6D6D6;

  .search-icon {
    display: flex;
    align-self: center;
  }

  input {
    background: white;
    border: none;
    outline: none;
  }
}
