@import "loading";

.loading-card-list-item {
  margin: 30px -12px;

  &:first-child {
    margin-top: 30px;
  }

  .poster {
    @include skeleton-anim;
    height: 120px;
  }

  .short-text {
    @include skeleton-anim;
    height: 1em;
    width: 20px;
    display: inline-block;
  }

  .long-text {
    @include skeleton-anim;
    height: 1em;
    width: 100px;
    display: inline-block;
  }
}
